@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-family: "Mukta", sans-serif;
  --primary: white;
  --primaryrgb: 162, 1, 162;
  --topheader: #f8f8f8;
  --ontopheader: #444444;
  --border-radius: 5px;
  --img-hover-time: 0.9s;
  --title-hover-time: 0.3s;
  --footer-bg: #000;
  --color-accent: #00c2cb;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

body {
  --margin: 2.5rem;
  background: #f7f7f7;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-position: center;
  color: var(--primary);
  overflow: hideen;
  /* font-family: var(--font-family); */
  /* font-weight: 500; */
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.archivo {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

a:hover,
a:focus,
a {
  outline-style: none;
  text-decoration: none;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1400px;
  }
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  transition: 0.3s all;
}

.btn-primary:hover {
  background: none;
  color: var(--primary);
  border-color: var(--primary);
}

.h-500 {
  height: 500px !important;
}

.featured {
  object-position: top;
}

.flex-1 {
  flex: 1;
}

.disabled {
  pointer-events: none;
  cursor: default;
}
/*****************************************
    DAAN CUP HERO SECTION
*****************************************/

.danacup__hero.hero__section {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url(".././img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__section {
  padding: 30px 0;
}

.hero__section .sub_text_top {
  margin-top: 30px;
}

.hero__section .sub_text_top h3 {
  text-align: center;
}

.sub_text_top,
.main_text_top,
.cta__button {
  color: white;
  text-align: center;
}

.sub_text_top {
  h3 {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.main_text_top h1 {
  font-family: "Archivo Black", sans-serif;
  color: white;
}
.main_text_top h1 span {
  font-size: 7rem;
  color: inherit;
  text-transform: uppercase;
}

.main_text_top h1 span:not(:first-child) {
  margin-left: 1.5rem;
}
/* 
.hero__content__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
} */

.font__outline {
  color: var(--primary);
  background-color: (var(--primary));
  -webkit-text-stroke-color: var(--primary);
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
  /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #fffefe; */
  /* opacity: 0.1; */
}

.logo__image__goals {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-46%, -100%);
  text-align: center;
}

.logo__image__goals img {
  width: 40%;
}

.team__players__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -53%);
  width: 100%;
  text-align: center;
}

.team__players__img img {
  width: 45%;
}

.hero__spacer__middle {
  height: 50vh;
}

.cta__button {
  position: relative;
  z-index: 10;
}

.cta_btn_main {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 20px 60px;
  border-radius: 15px;
  outline: transparent;
  border: 1px transparent;
  color: #00c2cb;
  transition: opacity 0.3s ease-in-out;
}

.cta_btn_main:hover {
  opacity: 0.85;
}

.bottom__information__links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
  color: var(--primary);
}

.bottom__information__links .email__information {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-evenly;
}

.bottom__information__links .email__information a {
  color: VAR(--primary);
  /* margin-left: 5px; */
  padding: 5px 10px;
}

.bottom__information__links .menu__bottom,
.bottom__information__links .email__information {
  margin-top: 80px;
}

.bottom__information__links .menu__bottom nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom__information__links .menu__bottom nav ul li a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: var(--primary);
  padding: 7.5px 10px;
}

.bottom__information__links .menu__bottom nav ul li a::before {
  position: absolute;
  content: "";
  transition: transform 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary);
  transform: translateX(-100%);
}

.bottom__information__links .menu__bottom nav ul li a:hover::before {
  transform: translateX(0);
}

.bottom__information__links .menu__bottom nav ul li:first-child a {
  margin-right: 15px;
}

.bottom__information__links .menu__bottom nav ul li:not(:first-child) a {
  margin-left: 15px;
  margin-right: 15px;
}

.ml-15 {
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding: 7.5px 10px;
  margin-bottom: 5px;
}

/* .bottom__information__links .menu__bottom nav ul li:not(:first-child)::before {
  content: "|";
  display: inline-block;
  width: 2px;
  margin-right: 15px;
} */

.bottom__information__links .email__information i.fa-envelope,
.bottom__information__links .email__information a,
.bottom__information__links .menu__bottom li a {
  font-size: 1.2rem;
  line-height: 1.2;
}

.bottom__information__links .email__information .fa-envelope {
  padding: 5px 0px;
}

.hero__section__mask {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8323530095632002) 52%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.3;
}

/************************************
  MODAL FOR HOMEPAGE
************************************/
.modal__single {
  display: none;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 80%;
  overflow: auto;
  background: rgba(255, 255, 255, 1);
}

.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  border: 1 px solid #888;
  position: relative;
  height: 100%;
  width: 100%;
}

.close__modal {
  color: var(--color-accent);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  .fa-circle-xmark {
    font-size: 3rem;
  }
}

.close:hover,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
